
.monthSwitchArea {
    display: flex;
    align-items: center;
    justify-self: left;
    margin-top: var(--my-margin-xs);
}
.monthSwitchArea > div{
    display: flex;
    align-items: center;
    justify-self: left;
    margin-right: var(--my-margin-s);
    transition: all 0.5s;
    color: var(--my-color-navy);
    font-weight: bold;
    font-size: var(--my-font-size-smallP);
}
.monthSwitchArea > div:hover{
    opacity: 0.5;
    transition: all 0.5s;
}

.tabsWrapper {
    padding: 0 var(--my-padding-l);
}


.totalExpensesTextArea {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.totalExpensesTextArea .bottomContent {
    margin-bottom: var(--my-margin-s);
}
.totalExpensesTextArea .bottomContent .details {
    padding-bottom: var(--my-margin-s);
    display: flex;
    align-items: center;
    justify-content: left;
}
.totalExpensesTextArea .bottomContent .details .icon {
    font-size: var(--my-font-size-p);
}
.totalExpensesTextArea .bottomContent .details .text {
    font-size: var(--my-font-size-p);
    color: var(--my-color-gray);
}

.money {
    font-size: var(--my-font-size-big);
    font-weight: bold;
}



.iconWithTitleIcon {
    margin-right: var(--my-margin-s);
    font-size: var(--my-size-icon);
    box-sizing: border-box;
}
