.highcharts-container  {
    height: 300px !important;
}

.topPageWrapper {
   
}
.flexItemWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.flexItemWrapper .flexItem {
    flex: 0 1 20%;
}

.flexItemLeftWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: left;
}
.flexItemLeftWrapper .flexItem {
    margin-right: var(--my-margin-s);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--my-padding-m);
}


/*  */



.flexInnerWrapper {
    display: flex;
    align-items: center;
    justify-content: left;
}
.flexInnerWrapper .icon{
    margin-right: var(--my-margin-xs)
}