.header {
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    height: var(--my-size-headerH);
    background-color: var(--my-color-white);
    box-shadow: 0px 2px 2px 0.5px rgba(0, 0, 0, 0.1);
}

.header .headerInnerWrapper {
    width: 90%;
    margin: 0.5rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .headerInnerWrapper .userInfo {
    display: flex;
    align-items: center;
    justify-content: right;
}
.header .headerInnerWrapper .userInfo .userName{
    margin-left: 2rem;
    color: var(--my-color-gray);
}
.header .headerInnerWrapper .userInfo .userIcon{
    margin-left: 0.5rem;
}
.header .headerInnerWrapper .userInfo .userIcon svg{
    font-size: 3rem;
    color: var(--my-color-gray);
}
.header .headerInnerWrapper .userInfo .notification{
    font-size: 1.8rem;
    color: var(--my-color-navy);
}